
<form class="col-sm-12 col-md-6 col-lg-6 ">
<div class="form-group">
<label>Employee Name</label>
 <input type="text" name="name" class="form-control" [(ngModel)]="employee.name">
 </div>

 <div class="form-group">
<label>Age</label>
 <input type="number" class="form-control" name="age" [(ngModel)]="employee.age">
 </div>

 <div class="form-group">
<label>Gender</label>
 <input type="radio"  name="gender" value="M" selected [(ngModel)]="employee.gender" >Male
 <input type="radio"  name="gender" value="F" [(ngModel)]="employee.gender">Female
</div>

<div class="form-group">
<label>Mobile</label>
 <input type="number" class="form-control" name="mobile" [(ngModel)]="employee.mobile">
 </div>

 <div class="form-group">
<label>Mail</label>
 <input type="email" class="form-control" name="mail" [(ngModel)]="employee.mail">
 </div>



<button (click)='saveOrUpdateEmployee()'>{{action}} Employee</button>

</form>
